* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.nav-links {
    color: white;
}

main {
    margin-top: 50px;
    padding: 16px;
}

section {
    background-color: whitesmoke;
    height: 100px;
}

.custom {
    margin: 10px;
    float: left;
}

.custom-media {
    float: left;
}

.chatbot-heading {
    margin: 10px;
    margin-top: 15px;
}

.bot-span {
    margin-left: 10px;
    color: rgb(32, 199, 32);
}

.chatbox {
    height: 300px;
}

